/ Header
.intro-header
  .container
    .row
      .col-lg-8.col-lg-offset-1
        .intro-message
          .intro-content
            %h1.red-orange.work-class
              Kodak Alaris
            %h2.dress-class.margin-gap5
              Your Perfect Business Partner
            %hr.intro-divider.margin-topgap5
            .row
              .col-md-5.margin-bottomgap10
                .padding-sidegap15
                  %h5.pricing
                    Efficency Improved
                  %p.text-left.padding-sidegap5
                    The act of integrating your documents into your business has never been so easy. Star has the intelligence to intake, process and assign your documents exactly where you need them and then easily retrieve them- it takes the place of an office assistant.
                    %br
                    %i.red-orange Manage... Search... Retrieve... Deploy.
                  %button.btn.btn-med-blue Find Out More!

              .col-md-7.margin-bottomgap10
                .padding-sidegap15
                  %h5.pricing
                    Enhanced Information Sharing

                  %ul.text-left.padding-sidegap5
                    %li Easy set up, all in one tool
                    %li No extra hardware or software
                    %li Works with all operating systems
                    %li Turns your documents into data
                    %li Flies through paperwork to get you organized
                    %li Achieves and maintains control over your content
                    %li Collaberates with all your 3rd party business applications
                    %li Organizes your business so you can grow your business
                  %button.btn.btn-med-blue End the Paper Trail Now!