/ Header
.intro-header
  .container
    .row
      .col-lg-8.col-lg-offset-1
        .intro-message
          .intro-content
            .row
              .col-md-4
                %h1.red-orange.work-class.text-right
                  Star
              .col-md-7.margin-topgap25.padding-leftgap0
                %h2.dress-class.margin-gap5.text-left
                  Your Perfect Business Partner
            #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
              / Indicators
              %ol.carousel-indicators
                %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
                %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
                %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
              / Wrapper for slides
              .carousel-inner
                .item.active
                  .row
                    .col-lg-12
                      %hr.intro-divider.margin-topgap5
                    .col-md-6.margin-bottomgap10
                      .padding-sidegap15
                        %h5.pricing.med-blue.dress-class
                          Perfect Offer
                          %br
                          %span.red-orange.upper-class $79 for Partners
                        %p.text-left.padding-sidegap5
                          Vivamus auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras tempor. Morbi egestas, urna non consequat tempus, nunc arcu mollis enim, eu aliquam erat nulla non nibh.
                        %button.btn.btn-med-blue Find Out More!

                    .col-md-6.margin-bottomgap10
                      .padding-sidegap15
                        %h5.pricing.med-blue
                          Great Price
                          %br
                          %span.red-orange.upper-class $699
                        %p.text-left.padding-sidegap5
                          Vivamus auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras tempor. Morbi egestas, urna non consequat tempus, nunc arcu mollis enim, eu aliquam erat nulla non nibh.
                        %button.btn.btn-med-blue Get Your Digital Assistant Now!

                  / .carousel-caption
                .item
                  .row
                    .col-lg-12
                      %hr.intro-divider.margin-topgap5
                    .col-md-6.margin-bottomgap10
                      .padding-sidegap15
                        %h5.pricing.med-blue.dress-class
                          Perfect Offer
                          %br
                          %span.red-orange.upper-class $79 for Partners
                        %p.text-left.padding-sidegap5
                          Vivamus auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras tempor. Morbi egestas, urna non consequat tempus, nunc arcu mollis enim, eu aliquam erat nulla non nibh.
                        %button.btn.btn-med-blue Find Out More!

                    .col-md-6.margin-bottomgap10
                      .padding-sidegap15
                        %h5.pricing.med-blue
                          Great Price
                          %br
                          %span.red-orange.upper-class $699
                        %p.text-left.padding-sidegap5
                          Vivamus auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras tempor. Morbi egestas, urna non consequat tempus, nunc arcu mollis enim, eu aliquam erat nulla non nibh.
                        %button.btn.btn-med-blue Get Your Digital Assistant Now!
                  / .carousel-caption
                .item
                  .row
                    .col-lg-12
                      %hr.intro-divider.margin-topgap5
                    .col-md-6.margin-bottomgap10
                      .padding-sidegap15
                        %h5.pricing.med-blue.dress-class
                          Perfect Offer
                          %br
                          %span.red-orange.upper-class $79 for Partners
                        %p.text-left.padding-sidegap5
                          Vivamus auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras tempor. Morbi egestas, urna non consequat tempus, nunc arcu mollis enim, eu aliquam erat nulla non nibh.
                        %button.btn.btn-med-blue Find Out More!

                    .col-md-6.margin-bottomgap10
                      .padding-sidegap15
                        %h5.pricing.med-blue
                          Great Price
                          %br
                          %span.red-orange.upper-class $699
                        %p.text-left.padding-sidegap5
                          Vivamus auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras tempor. Morbi egestas, urna non consequat tempus, nunc arcu mollis enim, eu aliquam erat nulla non nibh.
                        %button.btn.btn-med-blue Get Your Digital Assistant Now!
                  / .carousel-caption


              / Controls
              %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
                %span.glyphicon.glyphicon-chevron-left
              %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
                %span.glyphicon.glyphicon-chevron-right