/ Header
.intro-header
  .container
    .row
      .col-lg-9
        .intro-message
          .intro-content
            %h1.yellow.work-class
              Kodak Alaris
            %h2.margin-gap5
              Your Digital Assistant Solution
            %hr.intro-divider.margin-topgap5
            .row
              .col-md-6.margin-bottomgap10
                .padding-sidegap15
                  %h5.pricing.med-blue
                    Perfect Offer
                    %br
                    %span.red-orange.upper-class $XX.XX
                  %p.text-left
                    Vivamus auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras tempor. Morbi egestas, urna non consequat tempus, nunc arcu mollis enim, eu aliquam erat nulla non nibh.
                  %button.btn.btn-med-blue CTA1

              .col-md-6.margin-bottomgap10
                .padding-sidegap15
                  %h5.pricing.med-blue
                    Great Price
                    %br
                    %span.red-orange.upper-class $XX.XX
                  %p.text-left
                    Vivamus auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras tempor. Morbi egestas, urna non consequat tempus, nunc arcu mollis enim, eu aliquam erat nulla non nibh.
                  %button.btn.btn-med-blue CTA2