---
title: Kodak Alaris
body_class: index
---

/ Page Content
.content-section-a
  .container
    .row
      .col-lg-6.col-sm-6
        %h2.section-heading.margin-bottomgap0.med-blue
          Alaris is the Star of the show
        %hr.section-heading-spacer
        .clearfix
        %h4 SPECIFICATIONS
        %ul.lead-points.list-unstyled
          %li.margin-bottomgap10
            %span.title OPERATING SYSTEMS
            Supports Mac OS® and Windows®
            (Mac OS X 10.7 or later)
          %li.margin-bottomgap5
            %span.title SPEED
            25 pages per minute A4/Letter size duplex scanning
            50-sheet auto feeding paper chute capacity
          %li.margin-bottomgap5
            %span.title RESOLUTION
            Up to 300 dpi color/grayscale
            Up to 600 dpi Monochrome
          %li.margin-bottomgap5
            %span.title DOCUMENT SIZES
            A4, A5, A6, B5, B6, Business Card, Post Card, Letter, Legal.
            Min: 2 X 2 in. (50.8 X 50.8 mm).
            Max: 8.5 X 14.17 in. (216 X 360 mm).
            With Carrier Sheet: A3, B4, 11 x 17 in.
          %li.margin-bottomgap5
            %span.title WI-FI
            Supports 802.11b, 802.11g, and 802.11n
          %li.margin-bottomgap5
            %span.title DIMENSIONS
            11.5” (29.2cm) W x 6.2” (15.9cm) D x 6.6” (16.8cm) H
          %li.margin-bottomgap5
            %span.title WEIGHT
            6.62 lbs. (3kg)
      .col-lg-5.col-lg-offset-1.col-sm-6
        %img.img-responsive{alt: "", src: "images/dog.png"}/
        %h4.text-center Hero Shot
    .row
      %hr.section-body-spacer
      .col-lg-12.col-sm-6
        %h5.pricing.med-blue.text-center.margin-bottomgap0
          Donec gravida posuere arcu. Nulla facilisi. Donec gravida posuere arcu. Nulla facilisi.

.content-section-b
  .container
    .row
      .col-lg-5.col-sm-push-7.col-sm-6
        %h2.section-heading.margin-bottomgap0.med-blue
          Alaris compliments your team
        %hr.section-heading-spacer/
        .clearfix
        %p.lead
          Donec gravida posuere arcu. Nulla facilisi. Phasellus imperdiet. Vestibulum at metus. Integer euismod. Nullam placerat rhoncus sapien. Ut euismod. Praesent libero. Morbi pellentesque libero sit amet ante. Maecenas tellus. Maecenas erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

      .col-lg-7.col-sm-pull-5.col-sm-6
        %img.img-responsive{ alt: "Alaris Sun", src: "images/alaris-sun.png"}/
    / .row
    /   .col-lg-6.pull-right
    /     %ul.list-inline
    /       %li.image-block.padding-sidegap10= image_tag "images/partner-ico/dropbox-logo.png", alt: "dropbox"
    /       %li.image-block= image_tag "images/partner-ico/quickbooks-logo.png", alt: "dropbox"
    /       %li.image-block.padding-sidegap10= image_tag "images/partner-ico/freshbooks-logo.png", alt: "dropbox"
    /       %li.image-block= image_tag "images/partner-ico/salesforce-logo.png", alt: "dropbox"

.content-section-a
  .container
    .row
      .col-lg-12.col-sm-6
        %h2.section-heading.margin-bottomgap0.med-blue
          Radically Simple
        %hr.section-heading-spacer/
        .clearfix
      .col-lg-7.col-sm-6
        .video-block
          %img.img-responsive{alt: "", src: "images/phones.png"}/

      .col-lg-5.col-sm-5.testimonial
        %h3.testimonial-callout
          Fantastic solution to my small business
        .col-lg-1.padding-topgap5
          %i.fa.fa-quote-left.fa-fw.fa-2x
        .col-lg-11.col-sm-5
          %p.lead><
            Donec gravida posuere arcu. Nulla facilisi. Phasellus imperdiet. Vestibulum at metus. Integer euismod. Nullam placerat rhoncus sapien. Ut euismod. Praesent libero. Morbi pellentesque libero sit amet ante. Maecenas tellus. Maecenas erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            %i.fa.fa-quote-left.fa-fw.fa-lg
          %p.testimonial-name ~John S.


.banner
  .banner-bar
    .container
      .row
        .col-lg-6
          %h2.text-right Connect with Alaris
        .col-lg-6
          %ul.list-inline.banner-social-buttons
            %li
              %a.btn.btn-primary.btn-lg{ href: "https://twitter.com/SBootstrap"}
                %i.fa.fa-twitter.fa-fw
                %span.network-name Twitter
            %li
              %a.btn.btn-primary.btn-lg{ href: "http://facebok.com"}
                %i.fa.fa-facebook.fa-fw
                %span.network-name Facebook
            %li
              %a.btn.btn-primary.btn-lg{ href: "#"}
                %i.fa.fa-linkedin.fa-fw
                %span.network-name Linkedin
