---
title: Kodak Alaris | STAR
body_class: index
---
= partial "layouts/navigation"

= partial "layouts/header"
/ Page Content
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %h2.section-heading.margin-bottomgap0.med-blue
          Kodak Alaris
          %br
          The STAR of the Show
        %hr.section-heading-spacer
        .clearfix
        .row.lead
          .col-md-12
            %h4.red-orange.dress-class Enhanced Information Sharing
            %ul.lead-point
              %li Enhanced Information Sharing
              %li Easily organizes all of your electronic files for you
              %li Takes your hard documents into cloud management
              %li Intelligence to capture, sort and then find with ease
              %li Achieves and maintains control over your content
              %li Seamless connectivity with your 3rd party business applications
              %li Easy set-up, all in one tool
              %li Works with all operating systems
              %li Organizes your business so you can grow your business

      .col-lg-7.col-sm-6
        %img.img-responsive{alt: "", src: "images/product-image.png"}
    .row
      %hr.section-body-spacer
      .col-lg-12.col-sm-6.text-center
        %h3.section-base-heading Manage... Search... Retrieve... Deploy.

.content-section-b
  .container
    .row
      .col-lg-5.col-sm-push-7.col-sm-6
        %h2.section-heading.margin-bottomgap0.med-blue
          STAR complements your team
        %hr.section-heading-spacer/
        .clearfix
        %p.section-body-text
          Whether you are a single business owner, or you work within a small to medium sized entity, STAR compliments everyone’s purpose within the organization. STAR not only has its own customizable filing system, it also integrates across multiple business applications that may be used on a regular basis; Quickbooks, Salesforce, DropBox, etc. STAR will keep all aspects and departments of your business organized, making everyone look like a rock STAR in the organization.

      .col-lg-7.col-sm-pull-5.col-sm-6
        %img.img-responsive{ alt: "Alaris Sun", src: "images/alaris-sun_v1.png"}/

.content-section-a
  .container
    .row
      .col-lg-12.col-sm-6
        %h2.section-heading.margin-bottomgap0.med-blue
          Radically Simple
        %hr.section-heading-spacer/
        .clearfix
        .col-lg-5.col-sm-5.testimonial
          %h3.testimonial-callout
            Fantastic solution for my business
          .col-lg-1.padding-topgap5
            %i.fa.fa-quote-left.fa-fw.fa-2x
          .col-lg-11.col-sm-5
            %p.section-body-text><
              Running my own business can be rewarding and challenging.  The STAR solution has become invaluable to me as it has empowered me to run my business while having peace of mind. I have never used such a simple tool that is so smart- it takes my documents, processes them and assigns them exactly where they need to go, freeing me up from spending so much time getting  organized. The ability to then locate a document is a piece of cake- saving me time- and when you run your own business, your time is your money.
              %i.fa.fa-quote-right.fa-fw.fa-lg
            %p.testimonial-name ~Laura M.
        .col-lg-7.col-sm-6
          .video-block
            .embed-responsive.embed-responsive-16by9
              %iframe.embed-responsive-item{ width: "640", height:"390", src:"//www.youtube.com/embed/JpHHBArCdqc", frameborder: "0", allowfullscreen: 'true' }

.banner
  .banner-bar
    .container
      .row
        .col-lg-6
          %h2.text-right Connect with STAR
        .col-lg-6
          %ul.list-inline.banner-social-buttons
            %li
              %a.btn.btn-primary.btn-lg{ href: "https://twitter.com"}
                %i.fa.fa-twitter.fa-fw
                %span.banner-social-name Twitter
            %li
              %a.btn.btn-primary.btn-lg{ href: "http://facebok.com"}
                %i.fa.fa-facebook.fa-fw
                %span.banner-social-name Facebook
            %li
              %a.btn.btn-primary.btn-lg{ href: "http://linkedin.com"}
                %i.fa.fa-linkedin.fa-fw
                %span.banner-social-name Linkedin