---
title: Quickbooks | Kodak Star
body_class: index
---

= partial "layouts/partner_navigation"
/ Page Content
.container
  .row.margin-bottomgap10
    .col-md-10.col-md-offset-1
      .hero-container{style: "height:800px"}

/ Footer
%footer
  .container
    .row
      .col-lg-12.footer-links
        %ul.list-inline.text-center.text-muted
          %li &nbsp;
      .col-lg-12
