---
title: Quickbooks | Kodak Star
body_class: index
---

= partial "layouts/partner_navigation"
/ Page Content
= image_tag "../images/partner-site/qb_hero.jpg"
.container
  .row.margin-bottomgap10
    .col-md-10.col-md-offset-1
      .hero-container
        .row
          .col-md-5.text-center
            %button.btn.btn-med-blue{href: "#"} Get Started Today!
          .col-md-5.text-center.padding-leftgap0
            %button.btn.btn-med-blue{href: "#"} Join the Partnership!

/ Footer
%footer
  .container
    .row
      .col-lg-12.footer-links
        %ul.list-inline.text-center.text-muted
          %li
            %a{href: "#"} Link 1
          %li
            %a{href: "#"} Link 2
          %li
            %a{href: "#"} Link 3
          %li
            %a{href: "#"} Link 4
          %li
            %a{href: "#"} Link 5
