---
title: Kodak Alaris STAR | Quickbooks
body_class: index
---

= partial "layouts/navigation"

/ Header
.intro-header.partners-qb
  .container
    .row
      .col-lg-8.col-lg-offset-1
        .intro-message
          .intro-content
            .row
              .col-md-3.col-xs-4
                = link_to (image_tag "star-logo-mock.png", class: "img-responsive"), "/"
              .col-md-7.margin-topgap25.padding-leftgap0
                %h2.dress-class.margin-topgap5.text-left
                  Get Your Saturdays Back!
                %p.col-lg-6.col-xs-12.padding-leftgap0.text-left With simple capture and easy integration QuickBooks Plus & STAR save you time by helping you get rid of the never-ending pile of documents. Keep track of the money coming in and out of your business, all in one easy-to-use place.
        .cta-container
          .row
            .col-lg-12.col-sm-6.col-lg-push-1
              .white-box
                .padding-sidegap5
                  %h5.pricing.med-blue.dress-class
                    Perfect Offer
                    %span.red-orange.upper-class
                      $999.99
                      %small.med-blue
                        %i (Save $500)

                  %p.cta
                    %span.upper-class Quickbooks Plus | STAR Yearly Subscription | Scanmate i1180
                  %p.text-left
                    Get this amazing bundle that will streamline your document management and get your Saturdays back. Updating QuickBooks is made simple. When it’s time to enter anything from any document into QuickBooks, simply capture the document in STAR and your key information will be input directly into the right QuickBooks fields.
                  = link_to "Advance Your Business Today!", "http://www.quickbooks.digitoa.com/product/star-solution-basic-quickbooks-simple-start/", class: "btn btn-red-orange cta", target: "_blank"


/ Page Content
.content-section-a
  .container
    .row
      .col-lg-12.col-sm-6
        %h2.section-heading.margin-bottomgap0.med-blue
          3 Simple Reasons to use STAR
        %hr.section-heading-spacer/
    .row
      .col-lg-4.col-sm-6
        .padding-sidegap15
          %h5.pricing.red-orange.upper-class
            Easy to Use
          %p.text-left.padding-sidegap5
            Kodak Alaris STAR’s user interface is simple and intuitive. Making organization of your financial information a snap by turning documents into data. Giving Small Business owner’s time back to focus on thier business.

      .col-lg-4.col-sm-6
        .padding-sidegap15
          %h5.pricing.red-orange.upper-class
            World Class Hardware
          %p.text-left.padding-sidegap5><
            The SCANMATE i1180 Scanner extends the concept of an intelligent device by embedding Perfect Page image enhancement technology.
            %br
            Small, quiet, quick, and intelligently designed, accelerating your process with seamless technology.

      .col-lg-4.col-sm-6
        .padding-sidegap15
          %h5.pricing.red-orange.upper-class
            Intelligent Search
          %p.text-left.padding-sidegap5
            Stop searching and start finding. Kodak Alaris STAR solution is the Librarian, Concierge & Assistant to your QuickBooks financial management process. Easily Search & Find your financial documents across all your business applications.
    .row.margin-bottomgap10
      .col-lg-12.col-sm-6
        %hr.section-body-spacer
        .margin-topgap20.text-center
          = link_to "Efficency Improved, Get Started Now", "http://www.quickbooks.digitoa.com/product/star-solution-basic-quickbooks-simple-start/", class: "btn btn-lt-blue cta", target: "_blank"
.banner
  .banner-bar
    .container
      .row
        .col-lg-12.text-center
          %h2.header-class.med-blue Organize your business so you can focus on growth
